.d3-wave .value-line {
	fill: none;
	stroke: var(--vscode-testing-iconPassed);
	stroke-width: 1.5px;
}

.d3-wave .grid-line-x {
	stroke: lightgrey;
	opacity: 0.7;
	stroke-dasharray: 5, 5;
}

.d3-wave .grid path {
	stroke-width: 0;
}

.d3-wave .value-rect-invalid path {
	fill: var(--vscode-inputValidation-errorBorder);
	stroke: var(--vscode-errorForeground);
}

.d3-wave .value-rect-invalid rect {
	fill: var(--vscode-inputValidation-errorBorder);
	stroke: var(--vscode-errorForeground);
}

.d3-wave .value-rect-valid path {
	fill: var(--vscode-editorGutter-addedBackground);
	stroke: var(--vscode-testing-iconPassed);
}

.d3-wave .value-rect-valid text {
	text-anchor: middle;
	fill: var(--vscode-inputOption-activeForeground);
}

.d3-wave .value-rect-invalid text {
	text-anchor: middle;
	fill: var(--vscode-inputOption-activeForeground);
}

.d3-wave {
	background-color: var(--vscode-background);
}

.d3-wave .domain {
	stroke: var(--vscode-foreground);
	stroke-width: 1.5px;
	shape-rendering: crispEdges;
	vector-effect: non-scaling-stroke;
}

.d3-wave .tick line {
	stroke-width: 1.5px;
	stroke: var(--vscode-foreground);
}

.d3-wave .axis text {
	shape-rendering: crispEdges;
	fill: var(--vscode-foreground);
}


.d3-wave .axis-y path {
	shape-rendering: crispEdges;
	fill: var(--vscode-foreground);
}

.d3-wave .axis-y .highlight text {
	fill: var(--vscode-focusBorder);
	font-weight: bold;
}

.d3-wave .scrollbar .mover {
	fill: steelblue;
	pointer-events: all;
	cursor: ns-resize;
	opacity: 0.5;
}

.d3-wave .scrollbar .subBar {
	fill: gray;
	opacity: 0.5;
}

.d3-wave .vertical-help-line {
	stroke: var(--vscode-focusBorder);
	stroke-width: 2;
}

.d3-wave .labelcell.selected rect {
	opacity: 30%;
	fill: aqua;
}

.d3-wave .labelcell text {
	cursor: grabbing;
}

.d3-wave .labelcell .expandable {
	cursor: pointer;
}

.d3-wave.tooltip {
    position: absolute;
    text-align: center;
    width: 220px;
    height: 20px;
    padding: 2px;
    font: 12px sans-serif;
    background-color: var(--vscode-focusBorder);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.d3-wave .axis .icons {
	fill: var(--vscode-foreground);
	min-width: 100px;
}

.d3-wave .value-background {
	opacity: 0%;
}

.d3-wave .value-background.selected {
	opacity: 30%;
	fill: aqua;
}